.Logo {
  margin-bottom: 2px;
  font-family: Thicccboi, sans-serif;
  color: #1e1e1e;
  font-size: 18px !important;
  font-weight: 700;
}

@media (max-width: 600px) {
  .Logo {
    font-size: 26px;
    line-height: 29.98px;
    margin-left: -50px;
  }
}
