@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

.hero{
    text-align: center;
    font-family: Thicccboi, sans-serif;
    font-size: 50px;
    font-weight: 600;

}

.textspan{
    font-weight: 1000;
}

.mainbutton{
  display: flex;
  justify-content: center;
 
}
.button1{
    padding: 15px 25px;
    border: unset;
    border-radius: 40px;
    color: white;
    z-index: 1;
    background: black;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
}

.button1:hover{
    background-color: #5ba46e;
    color: white;
}
