.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.main2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.img1 {
  margin-left: 100px;
  width: 59%;
  height: 100%;
}

.img2 {
  margin-left: 180px;
  max-width: 59%;
  max-height: 100%;
}

.img3 {
  margin-left: 100px;
  max-width: 59%;
  max-height: 100%;
}
.motivatedparagraph {
  margin-bottom: 0px;
  font-family: Thicccboi, sans-serif;
  color: #444;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  max-width: 500px;
  padding-right: 10px;
}

.feature1title {
  margin-top: 0px;
  margin-bottom: 24px;
  padding-right: 40px;
  font-family: Thicccboi, sans-serif;
  color: #1e1e1e;
  font-size: 40px;
  line-height: 60.2px;
  font-weight: 900;
  max-width: 600px;
}

.text {
  margin-top: 0px;
  margin-bottom: 24px;
  padding-left: 70px;
  margin-left: 100px;
  font-family: Thicccboi, sans-serif;
  color: #1e1e1e;
  font-size: 40px;
  line-height: 70.2px;
  font-weight: 900;
  max-width: 500px;
}

.study {
  margin-bottom: 0px;
  font-family: Thicccboi, sans-serif;
  color: #444;
  font-size: 15px;
  line-height: 38.8px;
  font-weight: 500;
  max-width: 500px;
  padding-left: 70px;
  margin-left: 100px;
}

@media screen and (max-width: 767px) {
  .feature1title {
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
  }
  .motivatedparagraph {
    text-align: center;
    font-size: 16px;
  }
  .img1 {
    width: 300px;
    text-align: center;
  }
  .main2 {
    display: grid;
    grid-row: inherit;
    justify-content: center;
    align-items: center;
  }
  .motivatedparagraph {
    font-size: 14px;
    line-height: 25.6px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    max-width: none;
    padding-left: 0;
    margin-left: 0;
  }

  .study {
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 25.6px;
    max-width: none;
    padding-left: 0;
  }
  .img2 {
    display: none;
    width: 500px;
    text-align: center;
  }
}
