* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  margin-top: 50px;
  margin-bottom: 54px;
  font-family: Thicccboi, sans-serif;
  color: #1e1e1e;
  font-size: 40px;
  line-height: 70.2px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.paragraph {
  margin-bottom: 0px;
  font-family: Thicccboi, sans-serif;
  color: #444;
  font-size: 14px;
  padding-bottom: 30px;
  line-height: 28.8px;
  font-weight: 500;
  text-align: center;
}

/* Float four columns side by side */
.column {
  width: 41%;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* Remove extra left and right margins, due to padding */
.row {
  display: inline-block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card2 {
  border: solid 1px;
  border-radius: 30px;
  margin-left: 0 auto;
  padding: 10px;
  width: 290px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.profilewrapper {
  display: flex;
  align-items: center;
}

.star {
  text-align: center;
  width: 12px;
  height: 12px;
  color: rgb(101, 142, 255);
}

.profile {
  border-radius: 50%;
  max-width: 35px;
  max-height: 35px;
  margin-left: 12px;
}

.review-text {
  margin-top: 29px;
  margin-bottom: 24px;
  font-family: Thicccboi, sans-serif;
  color: #444;
  font-size: 16px;
  line-height: 24px;
}
.name {
  text-align: center;
  margin: 0 auto;
  font-family: Thicccboi, sans-serif;
  font-size: 14px;
  line-height: 18.45px;
  font-weight: 700;
  margin-left: 35px;
}

@media screen and (max-width: 800px) {
  .column {
    width: 61%;
    display: block;
    margin-bottom: 20px;
  }
}
