.main2 {
  margin-top: 80px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.h3text {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 24px;
  padding-right: 100px;
  font-family: Thicccboi, sans-serif;
  color: #1e1e1e;
  font-size: 44px;
  line-height: 70.2px;
  font-weight: 700;
}

.img {
  width: auto;
}

.motivatedparagraph {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 0px;
  font-family: Thicccboi, sans-serif;
  color: #444;
  font-size: 1.5vw;
  line-height: 28.8px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .text {
    display: grid;
    grid-auto-flow: row;
  }
  .h3text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-family: Thicccboi, sans-serif;
    color: #1e1e1e;
    font-size: 24px;
  }

  .main2 {
    text-align: center;
  }
  .motivatedparagraph {
    text-align: center;
    margin-bottom: 0px;
    font-family: Thicccboi, sans-serif;
    color: #444;
    line-height: 28.8px;
    font-weight: 500;
  }
  .img {
    width: auto;
  }
}
