.main2 {
  margin-top: 80px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.h3text {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 24px;
  padding-right: 100px;
  font-family: Thicccboi, sans-serif;
  color: #1e1e1e;
  font-size: 44px;
  line-height: 70.2px;
  font-weight: 700;
}

.img {
  width: auto;
}

.motivatedparagraph {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 0px;
  font-family: Thicccboi, sans-serif;
  color: #444;
  font-size: 10vh;
  line-height: 28.8px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .main2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h3text {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    font-weight: 900;
  }
  .motivatedparagraph {
    font-weight: 900;
  }
}
