.Interests {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.2rem;
  row-gap: 1rem;
  padding-right: 1rem;
  font-size: 10px;
}

.Interest {
  width: 10.5rem !important;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  border-radius: var(--border-radius);
  background-color: white !important;
}

.Interests button {
  max-width: 17.5rem;
}

.Interest .Icon {
  margin-right: 0.5rem;
}

@media (min-width: 600px) {
  .Interests {
    grid-template-columns: repeat(2, 15.625rem);
  }
  .Interest {
    width: 15.625rem;
  }
  .Interests button {
    max-width: 15.625rem;
  }
}

@media (min-width: 880px) {
  .Interests {
    grid-template-columns: repeat(3, 15.625rem);
  }
}

@media (max-width: 880px) {
  .Interests {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
  }
}
